/* COLORS */
$lightgray: #ECEFF1;
$material-blue: #03A9F4;
$material-blue-darker: #0288D1;
$white: #fff;
$teal: #009688;
$dark-blue-gray: #37474F;
$material-pink: #E91E63;

 /* FONTS */
@import url(https://fonts.googleapis.com/css?family=Lato:400,700,300,100);
@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,700,300);

/* GENERAL STYLE */
/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-right: 15px;
  padding-left: 15px;
}

/* Custom page header */
.header {
  padding-bottom: 20px;
  border-bottom: 1px solid #e5e5e5;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

/* Customize container */
@media (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}
.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  padding: 14px 24px;
  font-size: 21px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-right: 0;
    padding-left: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

.page-header{
    margin-top: 0;
}

footer{
    margin-top: 40px;
}

input
{
	display: block;
	margin-bottom: 20px;
}

.textfield
{
	width: 100%;
	max-width: 500px;
	padding: 15px 30px;
	font-size: 0.9em;
	border: none;
	border: 1px solid gray;
}

.textarea
{
	height: 240px;
	max-width: 100%;
	resize: none;
	padding: 30px;
}

.button
{
	background-color: $material-pink;
	text-transform: uppercase;
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	text-align: center;
	min-width: 200px;
	padding: 15px 40px;
	color: white;
	box-shadow: none;
	border: none;
	font-size: 0.8em;
	margin-top: 30px;
	-webkit-transition: background-color 0.2s linear, box-shadow 0.4s 0.2s linear;
}

.button:hover
{
	cursor: pointer;
	-webkit-box-shadow: 0px 0px 25px -9px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 25px -9px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 25px -9px rgba(0,0,0,0.75);
	-webkit-transition: background-color 0.2s linear, box-shadow 0.4s 0.2s linear;
}
