<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>New discussion | Qanda</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="../assets/normalize.css" type="text/css" rel="stylesheet">
	<link href="../assets/css/style.css" type="text/css" rel="stylesheet">
</head>
<body>
	<header>
		<div class="wrapper">
			<nav>
				..
			</nav>		
		</div>
	</header>
	<div class="wrapper">
		<h1>Create a new discussion</h1>
		<form action="" method="post">
			<input type="text" name="title" placeholder="Title" class="textfield">
			<textarea name="message" placeholder="Message" class="textfield textarea"></textarea>
			<input type="submit" value="Publish" class="button">
		</form>
	</div>


</body>
</html>